# Getting Financial Data - Google Finance

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [44]:
import pandas as pd

# package to extract data from various Internet sources into a DataFrame
# make sure you have it installed
from pandas_datareader import data, wb

# package for dates
import datetime as dt

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [45]:
start = dt.datetime(2015, 1, 1)
end = dt.datetime(2022, 5, 24)

print(start)
print(end)

2015-01-01 00:00:00
2022-05-24 00:00:00

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [104]:
stocks =["AAPL", "TSLA", "TWTR"]

### Step 4. Read the data from google, assign to df and print it

In [105]:
df = data.DataReader(stocks, "yahoo" , start, end)
df

Attributes   Adj Close                              Close              \
Symbols           AAPL        TSLA       TWTR        AAPL        TSLA
Date
2015-01-02   24.678246   43.862000  36.560001   27.332500   43.862000
2015-01-05   23.983023   42.018002  36.380001   26.562500   42.018002
2015-01-06   23.985281   42.256001  38.759998   26.565001   42.256001
2015-01-07   24.321604   42.189999  37.279999   26.937500   42.189999
2015-01-08   25.256096   42.124001  39.090000   27.972500   42.124001
...                ...         ...        ...         ...         ...
2022-05-18  140.820007  709.809998  36.849998  140.820007  709.809998
2022-05-19  137.350006  709.419983  37.290001  137.350006  709.419983
2022-05-20  137.589996  663.900024  38.290001  137.589996  663.900024
2022-05-23  143.110001  674.900024  37.860001  143.110001  674.900024
2022-05-24  137.350006  631.125000  36.560001  137.350006  631.125000

Attributes                   High                                Low  \
Symbols          TWTR        AAPL        TSLA       TWTR        AAPL
Date
2015-01-02  36.560001   27.860001   44.650002  36.740002   26.837500
2015-01-05  36.380001   27.162500   43.299999  37.110001   26.352501
2015-01-06  38.759998   26.857500   42.840000  39.450001   26.157499
2015-01-07  37.279999   27.049999   42.956001  39.099998   26.674999
2015-01-08  39.090000   28.037500   42.759998  39.189999   27.174999
...               ...         ...         ...        ...         ...
2022-05-18  36.849998  147.360001  760.500000  38.720001  139.899994
2022-05-19  37.290001  141.660004  734.000000  38.500000  136.600006
2022-05-20  38.290001  140.699997  721.580017  38.310001  132.610001
2022-05-23  37.860001  143.259995  679.960022  38.000000  137.649994
2022-05-24  36.560001  141.970001  653.750000  37.202599  137.330994

Attributes                               Open                         \
Symbols           TSLA       TWTR        AAPL        TSLA       TWTR
Date
2015-01-02   42.652000  35.540001   27.847500   44.574001  36.230000
2015-01-05   41.431999  35.639999   27.072500   42.910000  36.259998
2015-01-06   40.841999  36.040001   26.635000   42.012001  36.270000
2015-01-07   41.956001  37.060001   26.799999   42.669998  39.099998
2015-01-08   42.001999  37.090000   27.307501   42.562000  37.419998
...                ...        ...         ...         ...        ...
2022-05-18  700.809998  36.580002  146.850006  744.520020  37.419998
2022-05-19  694.109985  36.200001  139.880005  707.000000  36.759998
2022-05-20  633.000000  36.750000  139.089996  713.989990  37.770000
2022-05-23  638.059998  36.939999  137.789993  655.020020  37.770000
2022-05-24  627.650024  36.380001  140.804993  653.530029  36.939999

Attributes       Volume
Symbols            AAPL        TSLA        TWTR
Date
2015-01-02  212818400.0  23822000.0  12062500.0
2015-01-05  257142000.0  26842500.0  15062700.0
2015-01-06  263188400.0  31309500.0  33050800.0
2015-01-07  160423600.0  14842000.0  22675700.0
2015-01-08  237458000.0  17212500.0  19190400.0
...                 ...         ...         ...
2022-05-18  109742900.0  29270600.0  24010300.0
2022-05-19  136095600.0  30098900.0  32000300.0
2022-05-20  137194600.0  48190600.0  23584000.0
2022-05-23  116301300.0  29380300.0  13388200.0
2022-05-24   23137562.0   7091563.0   4766191.0

[1862 rows x 18 columns]

### Step 5.  What is the type of structure of df ?

In [106]:
type(df)

pandas.core.frame.DataFrame

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

In [112]:
df.columns.levels

<bound method DataFrame.items of Attributes   Adj Close                              Close              \
Symbols           AAPL        TSLA       TWTR        AAPL        TSLA
Date
2015-01-02   24.678246   43.862000  36.560001   27.332500   43.862000
2015-01-05   23.983023   42.018002  36.380001   26.562500   42.018002
2015-01-06   23.985281   42.256001  38.759998   26.565001   42.256001
2015-01-07   24.321604   42.189999  37.279999   26.937500   42.189999
2015-01-08   25.256096   42.124001  39.090000   27.972500   42.124001
...                ...         ...        ...         ...         ...
2022-05-18  140.820007  709.809998  36.849998  140.820007  709.809998
2022-05-19  137.350006  709.419983  37.290001  137.350006  709.419983
2022-05-20  137.589996  663.900024  38.290001  137.589996  663.900024
2022-05-23  143.110001  674.900024  37.860001  143.110001  674.900024
2022-05-24  137.350006  631.125000  36.560001  137.350006  631.125000

Attributes                   High                                Low  \
Symbols          TWTR        AAPL        TSLA       TWTR        AAPL
Date
2015-01-02  36.560001   27.860001   44.650002  36.740002   26.837500
2015-01-05  36.380001   27.162500   43.299999  37.110001   26.352501
2015-01-06  38.759998   26.857500   42.840000  39.450001   26.157499
2015-01-07  37.279999   27.049999   42.956001  39.099998   26.674999
2015-01-08  39.090000   28.037500   42.759998  39.189999   27.174999
...               ...         ...         ...        ...         ...
2022-05-18  36.849998  147.360001  760.500000  38.720001  139.899994
2022-05-19  37.290001  141.660004  734.000000  38.500000  136.600006
2022-05-20  38.290001  140.699997  721.580017  38.310001  132.610001
2022-05-23  37.860001  143.259995  679.960022  38.000000  137.649994
2022-05-24  36.560001  141.970001  653.750000  37.202599  137.330994

Attributes                               Open                         \
Symbols           TSLA       TWTR        AAPL        TSLA       TWTR
Date
2015-01-02   42.652000  35.540001   27.847500   44.574001  36.230000
2015-01-05   41.431999  35.639999   27.072500   42.910000  36.259998
2015-01-06   40.841999  36.040001   26.635000   42.012001  36.270000
2015-01-07   41.956001  37.060001   26.799999   42.669998  39.099998
2015-01-08   42.001999  37.090000   27.307501   42.562000  37.419998
...                ...        ...         ...         ...        ...
2022-05-18  700.809998  36.580002  146.850006  744.520020  37.419998
2022-05-19  694.109985  36.200001  139.880005  707.000000  36.759998
2022-05-20  633.000000  36.750000  139.089996  713.989990  37.770000
2022-05-23  638.059998  36.939999  137.789993  655.020020  37.770000
2022-05-24  627.650024  36.380001  140.804993  653.530029  36.939999

Attributes       Volume
Symbols            AAPL        TSLA        TWTR
Date
2015-01-02  212818400.0  23822000.0  12062500.0
2015-01-05  257142000.0  26842500.0  15062700.0
2015-01-06  263188400.0  31309500.0  33050800.0
2015-01-07  160423600.0  14842000.0  22675700.0
2015-01-08  237458000.0  17212500.0  19190400.0
...                 ...         ...         ...
2022-05-18  109742900.0  29270600.0  24010300.0
2022-05-19  136095600.0  30098900.0  32000300.0
2022-05-20  137194600.0  48190600.0  23584000.0
2022-05-23  116301300.0  29380300.0  13388200.0
2022-05-24   23137562.0   7091563.0   4766191.0

[1862 rows x 18 columns]>

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

In [113]:
volume = df["Volume"]
volume

Symbols            AAPL        TSLA        TWTR
Date
2015-01-02  212818400.0  23822000.0  12062500.0
2015-01-05  257142000.0  26842500.0  15062700.0
2015-01-06  263188400.0  31309500.0  33050800.0
2015-01-07  160423600.0  14842000.0  22675700.0
2015-01-08  237458000.0  17212500.0  19190400.0
...                 ...         ...         ...
2022-05-18  109742900.0  29270600.0  24010300.0
2022-05-19  136095600.0  30098900.0  32000300.0
2022-05-20  137194600.0  48190600.0  23584000.0
2022-05-23  116301300.0  29380300.0  13388200.0
2022-05-24   23137562.0   7091563.0   4766191.0

[1862 rows x 3 columns]

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

In [ ]:
vol["week"] = vol.index.week
vol["year"] = vol.index.year

### Step 9. Find all the volume traded in the year of 2015

### BONUS: Create your own question and answer it.